:root {
  --primary-light: rgb(62, 148, 119);
  --primary-dark: rgb(72, 174, 140);
  --light: #fff;
  --primary-light-opacity: rgba(62, 148, 119, 0.8);
  --light-opacity: rgba(255, 255, 255, 0.6);
  --dark-opacity: rgba(0, 0, 0, 0.4);
  --grey-10: rgb(246, 246, 246);
  --grey-20: rgb(224, 224, 224);
  --grey-30: rgb(200, 200, 200);
  --grey-40: rgb(182, 182, 182);
  --grey-50: rgb(156, 156, 156);
  --grey-60: rgb(125, 125, 125);
  --grey-70: rgb(98, 98, 98);
  --grey-80: rgb(71, 71, 71);
  --grey-90: rgb(41, 41, 41);
  --dark: rgb(18, 18, 18);
  --primary: var(--primary-light)
  --header-background: var(--light-opacity);
  --foreground: var(--grey-90);
  --background: var(--light);
  --background-opacity: var(--light-opacity);
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}

p {
  line-height: 1.5rem;
}

.text--primary {
  color: var(--primary);
}

.text--bold {
  font-weight: bold;
}

.main-header {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  background-color: var(--header-background);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.social-link {
  color: var(--gray-50);
  font-size: 1.1rem;
  margin-right: 1rem;
}

.social-link:last-of-type {
  margin-right: 0px;
}

.social-link:hover {
  color: var(--primary);
}

.nav-bar {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 680px;
}

.nav-bar__link:link, .nav-bar__link:active, .nav-bar__link:visited {
  color: var(--foreground);
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0 4rem;
}

.nav-bar__link:hover {
  color: var(--primary);
  text-decoration: underline;
  transition: color 200ms;
}

.section-hero {
  height: 100vh;
  background-color: var(--background-opacity);
  background-image: url('../img/cover.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.hero-content {
  width: 100%;    
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--foreground);
  background-color: var(--background-opacity);
}

.hero-content-wrap {
  padding: 0 2rem;
}

.hero-heading {
  font-size: clamp(2.4rem, 10vw, 4.4rem);
  font-weight: 300;
  margin-bottom: 1rem;
}

.hero-text {
  font-size: 14px;
  max-width: 520px;
}

.section-about {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: var(--background);
}

.about__content {
  max-width: 80%;
  margin: 0 auto;
}

.about__image {
  width: 100%;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  mix-blend-mode: luminosity;
}

.about__text > p {
  text-align: justify;
  line-height: 1.5rem;
}

.section-projects {
  margin-top: -60px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.projects-card {
  padding: 1rem;
  background-color: var(--background);
}

.project-card__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.project-card__title {
  margin-top: 1rem;
  margin-bottom: 0;
}

.form-title {
  font-weight: 600;
}

.section_form {
  margin: 0 auto;
  padding: 2rem 4rem;
}

.section-contacts {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: var(--background);
}

.section-contacts a {
  text-decoration: none;
  color: var(--grey-70);
  cursor: pointer;
}

.section-contacts a:hover {
  text-decoration: underline;
  color: var(--primary);
}

.section-contacts i {
 margin-right: 5px;
 color: var(--grey-60);
}

.btn-download {
  background-color: var(--primary);
  border: none;
  border-radius: 4px;
  color: var(--light);
  padding: 12px 20px;
  cursor: pointer;
  font-size: 18px;
}

.btn-download i {
  color: var(--light);
}

.btn-download:hover {
  background-color: var(--primary);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.btn-send {
  padding: 6px 10px;
  font-size: 14px;
  font-weight: 600;
}

.btn-send:hover {
  color:var(--light);
}

.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--background);
  color: var(--foreground);
  font-size: 12px;
  font-weight: 200;
}

.footer p {
  margin: 0;
  
}

/* THEME TOGGLE */

.theme-toggle {
  position: absolute;
  top: 12px;
  right: 1rem;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: var(--background);
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bi-moon-fill {
  color: #009ab8;
}

.bi-sun-fill {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: var(--grey-50);
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
  transform: translateX(24px);
}